* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 594px;
  height: 87px;
  border-radius: 20px;
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.15);
}

.list {
  width: 476.92px;
  height: 40px;
  border: 1px solid #3e1671;
  border-radius: 10px;
}

.li {
  width: 476.92px;
  height: 40px;
  border: 1px solid #3e1671;
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
  margin-top: 30px;
}

.form_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

.btn {
  background-color: #9e78cf;
  width: 40.68px;
  height: 40px;
  border: none;
  color: white;
  margin-left: 5px;
}

/* .task_done {
  text-decoration: line-through;
}

.btn_done,
.btn_delete {
  border: none;
  background-color: transparent;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.deleteDone,
.deleteAll {
  background-color: #9e78cf;
  width: 127px;
  height: 39px;
  color: white;
  border: none;
  font-weight: 600;
  margin-top: 50px;
}

.deleteAll:hover {
  background-color: #6e5094;
}

.deleteDone:hover {
  background-color: #6e5094;
} */
